body {
    margin: 0 auto;
    font-family: Lato, sans-serif;
    letter-spacing: 1.2pt;
    line-height: 2em;
}

.top{
    width: 90%;
    margin: 0 auto;
}

/*Headers*/

h1 {
    font-size: 60pt;
}

.headline {
    font-size: 30pt;
    font-family: "Courier New", Courier, monospace;

}

.tabbed{
    margin-left: 50px;
}

/*Navigation*/

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    text-align: right;
}

nav ul li:hover {
    background-color: aliceblue;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*Table*/

td{
    padding: 0px 20px;
}

/* Content */

.bio {
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
}

/*images*/
.logo {
    width: 70px;
    margin-top: 10px;
}
.profileImage{
    float: right;
    width: 300px;
    padding: 15px;
    border-radius: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: aliceblue;
}

/*Accordian*/

.accordion {
    max-width: 990px;
    background: rgba(0, 0, 0, 0.10);
    height: 300px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 100px;
}
.box {
    position: relative;
    height: 100%;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    cursor: pointer;
}
.box:hover, .box:focus{
    flex: 7;
    height: 400px;
}
.a1 {
    background-image: url("images/sieve1.png");
    color: #fff;
}

.a2 {
    background-image: url("images/sieve2.png");
    color: #fff;
}

.a3 {
    background-image: url("images/sieve3.png");
    color: #fff;
}



p {
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
}
.text {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding: 10px;
    background: rgba(255, 255, 255, .3);
    
}
.box:hover .text{
    opacity:1;
}

@media screen and (max-width: 800px){
    body{
        margin: 0;
    }
    .accordion {
        flex-direction: column;
        height: 700px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        flex: 7;
    }
}

/*Pictures*/

.chd_logo {
    width: 500px;
    margin: auto;
    display: block;
}

.DSU {
    width: 100px;
    float: right;
    display: block;
}

.CLI {
    width: 200px;
    float: right;
    display: block;
}

/*sections*/
.one {
    margin: 0 auto;
    background: #4DEAFF;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 5%, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}



.two {
    margin: 0 auto;
    background-color: white;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 5%, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.three {
    margin: 0 auto;
    background-color: #A8F4FF;
  position: relative;
  z-index: 10;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
}

.footer{
    z-index: 11;
    margin: 0 auto;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
}